# Unit 22. 리스트와 튜플 응용하기

### 리스트 조작

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [15]:
# 3 x 6 list에 1~6 랜덤값 채우기
import random as rd
mat = []
for i in range(3):
    row = []
    for k in range(6):
        row.append(rd.randint(1,6))
    mat.append(row)

In [16]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element,end=' ')
        print()

In [17]:
print_matrix(mat)

2 4 5 5 3 5
6 5 3 2 4 4
2 4 1 1 3 5

In [18]:
# Old-fashioned
def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k],end=' ')
        print()

In [19]:
old_print_matrix(mat)

2 4 5 5 3 5
6 5 3 2 4 4
2 4 1 1 3 5

In [23]:
# 리스트 엘리먼트 삭제
a = [10, 20, 30, 500, [3, 4]]
a.pop()

[3, 4]

In [24]:
a

[10, 20, 30, 500]

In [25]:
a.index(30)

2

In [26]:
a.append(20)
a

[10, 20, 30, 500, 20]

In [27]:
a.count(20)

2

In [29]:
a.reverse()

In [30]:
a

[20, 500, 30, 20, 10]

In [31]:
a.sort()
a

[10, 20, 20, 30, 500]

In [33]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [34]:
b = [10,20,30,15,20,40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [35]:
b

[10, 20, 30, 15, 20, 40]

In [37]:
a = [10, 20, 30]
a[3] = 40

IndexError: list assignment index out of range

In [39]:
a[3:] = [40]
a

[10, 20, 30, 40]

In [40]:
a[4:] = (50,)
a

[10, 20, 30, 40, 50]

### 리스트 할당과 복사

In [41]:
a = [0, 0, 0, 0, 0]
b = a

In [42]:
b

[0, 0, 0, 0, 0]

In [43]:
b[2] = 2
b

[0, 0, 2, 0, 0]

In [44]:
a

[0, 0, 2, 0, 0]

In [45]:
a is b

True

In [46]:
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
a

[0, 0, 0, 0, 0]

### 반복문으로 출력하기

In [47]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

### 유용한 함수

In [54]:
# 가장 작은 수는?
a = [10, 20, 30, 40, 5]
_min = a[0]
_max = a[0]
for i in range(1,len(a)):
    if a[i] < _min:
        _min = a[i]
    if a[i] > _max:
        _max = a[i]
print(_min,_max)

5 40

In [55]:
a.sort()
print(a[0],a[-1])

5 40

In [2]:
a = [38, 21, 54, 65, 12]
print(min(a),max(a),sum(a))

12 65 190

### 리스트 표현식(List Comprehension)

In [3]:
# 1에서 10까지 제곱수를 리스트로 만드시오
sq = []
for i in range(1,11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
sq_new = [i*i for i in range(1,11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# 홀수의 제곱수 리스트
sq_odd = [i*i for i in range(1,11) if i%2 == 1]
sq_odd

[1, 9, 25, 49, 81]

In [7]:
a = [i * k for i in range(2,10)
            for k in range(1,10)]
print(a, end='')

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [9]:
a = [1.2, 3.4, 2.5, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 3, 2, 4]

In [11]:
a = [1.2, 3.4, 2.5, 4.6]
a = list(map(int, a))
print(a)

[1, 3, 2, 4]

In [13]:
x = list(map(int,input('numbers> ').split()))
x

numbers> 41 4 5 2 66 52 54 78

[41, 4, 5, 2, 66, 52, 54, 78]

In [16]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:41:34
hour=11, minute=41, second=34

In [17]:
year, month, day = map(int, input('yy-mm-dd> ').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd> 2020-10-30
year=2020, month=10, day=30

### 튜플

In [18]:
a = (38, 21, 43, 54, 62, 91)
a[3]

54

In [19]:
a.count(21)

1

In [20]:
print(min(a),max(a),sum(a))

21 91 309