# Unit 30. 위치 인수와 키워드 인수 사용하기

### 위치 인수와 리스트 언패킹

In [1]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [2]:
print_numbers(10,20,30)

10
20
30

In [3]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [4]:
print_numbers(*(40,50,60))

40
50
60

In [5]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [6]:
print_numbers(*x)

10
20
30

In [7]:
print_numbers(10,20,30,40,50)

10
20
30
40
50

In [8]:
def print_numbers(a,*args):
    print(a)
    for arg in args:
        print(arg)

In [9]:
print_numbers(10)

10

### 키워드 인수

In [10]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [11]:
personal_info('홍길동', 30, '서울시 영등포구 당산동')

이름:  홍길동
나이:  30
주소:  서울시 영등포구 당산동

In [12]:
personal_info(name='홍길동',age=30,address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [13]:
personal_info(age=30,name='홍길동',address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

### 키워드 인수와 딕셔너리 언패킹

In [15]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [16]:
hong = {'name':'홍길동','age':30,'address':'서울시 강서구 발산동'}
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [19]:
personal_info(**{'name':'홍길동','age':30,'address':'서울시 강서구 발산동'})

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [20]:
personal_info(**{'name':'홍길동','old':30,'address':'서울시 강서구 발산동'})

TypeError: personal_info() got an unexpected keyword argument 'old'

In [21]:
personal_info(*hong)

이름:  name
나이:  age
주소:  address

In [22]:
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### 가변 키워드인수를 갖는 함수 만들기

In [24]:
def personal_info(**kwargs):      # KeyWord Arguments
    for keyward, arg in kwargs.items():
        print(keyward, ':',arg,sep='')

In [25]:
personal_info(**{'name':'홍길동','age':30,'address':'서울시 강서구 발산동'})

name:홍길동
age:30
address:서울시 강서구 발산동

In [26]:
personal_info(**{'name':'홍길동','old':30,'address':'서울시 강서구 발산동'})

name:홍길동
old:30
address:서울시 강서구 발산동

In [27]:
personal_info(**{'name':'홍길동','age':30})

name:홍길동
age:30

In [28]:
def personal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

In [29]:
personal_info(**{'name':'홍길동','old':30,'address':'서울시 강서구 발산동'})

이름:  홍길동
주소:  서울시 강서구 발산동

### 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [32]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [33]:
personal_info('홍길동',age=30,address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

### 위치 인수와 키워드 인수를 함께 사용하기

In [35]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [36]:
custom_print(1, 2, 3,sep = ':', end = 'END\n')

1:2:3END

In [37]:
custom_print(1, 2, 3, 4)

1 2 3 4

### 고정 인수, 가변 위치 인수, 키워드 인수 함께 사용하기

In [38]:
def custom_print(a, b, *args, **kwargs):
    print(a, b, *args, **kwargs)

### 매개변수에 초깃값 지정하기(Default Value)

In [39]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [40]:
personal_info('홍길동',30)

이름:  홍길동
나이:  30
주소:  비공개

In [41]:
personal_info('홍길동', 30, '서울시 영등포구 당산동')

이름:  홍길동
나이:  30
주소:  서울시 영등포구 당산동

In [43]:
def personal_info(name,address='비공개', age):
    print('이름: ', name)
    print('주소: ', address)
    print('나이: ', age)

SyntaxError: non-default argument follows default argument (<ipython-input-43-c397588aa3e2>, line 1)

In [44]:
def personal_info(name,address='비공개', age=0):
    print('이름: ', name)
    print('주소: ', address)
    print('나이: ', age)

In [56]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args),max(args)
def get_average(**kwargs):
    argsum = 0
    for kw,arg in kwargs.items():
         argsum += arg
    return argsum/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

10 20 30 50
낮은 점수: 10.00, 높은 점수: 50.00, 평균 점수: 27.50
낮은 점수: 20.00, 높은 점수: 50.00, 평균 점수: 35.00

### 재귀호출

In [57]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [65]:
factorial(4)

24

In [59]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [60]:
for i in range(1,11):
    print(i, fibo(i))

1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55
10 89

In [63]:
def series(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return 3 * series(n-1) + 5 * series(n-2)

In [64]:
for i in range(1,11):
    print(i,series(i))

1 1
2 3
3 14
4 57
5 241
6 1008
7 4229
8 17727
9 74326
10 311613

In [67]:
def is_palindrome(word):
    if len(word)<2:
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])
                              
print(is_palindrome('hello'))
print(is_palindrome('level'))

False
True